.copyright {
  padding-top: 30px;
  font-size: 13px;
  color: #939393;
}

@media (max-width: 1660px) {
  .copyright {
    padding-top: 10px;
  }
}

@media (min-resolution: 144dpi),
(min-resolution: 1.5dppx) {
  .copyright {
    padding-top: 10px;
  }
}
