.main-nav {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.main-nav__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-nav__item {
  position: relative;
  display: inline-block;
  width: 20%;

  &:hover {
    cursor: pointer;
  }
}

.main-nav__item-name {
  position: absolute;
  z-index: 3;
  top: 45px;
  right: 20px;
  left: 20px;
  height: 122px;
  padding: 27px 10px 0 10px;
  font-size: 27px;
  font-weight: 600;
  line-height: 34px;
  color: #fff;
  text-align: center;
  background-color: #024b9d;
  box-shadow: 0px 35px 30px -20px rgba(70, 70, 70, 0.6);
}

.main-nav__item-name--color2 {
  opacity: 0.9;
}

.main-nav__item-name--color3 {
  opacity: 0.8;
}

.main-nav__item-name--color4 {
  opacity: 0.7;
}

.main-nav__item-name--color5 {
  opacity: 0.6;
}

.main-nav__item-wrapper-flipper {
  perspective: 1000px;
}

.main-nav__item-wrapper-flipper:hover .main-nav__item-flipper,
.main-nav__item-wrapper-flipper.hover .main-nav__item-flipper {
  transform: rotateY(180deg);
}

.main-nav__item-name {
  .main-nav__item-wrapper-flipper:hover .main-nav__item-flipper,
  .main-nav__item-wrapper-flipper.hover .main-nav__item-flipper {
    transform: rotateY(180deg);
  }
}

.main-nav__item-wrapper-flipper,
.main-nav__item-flipper-front,
.main-nav__item-flipper-back {
  width: 100%;
  height: 100vh;
}

.main-nav__item-flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.main-nav__item-flipper-front,
.main-nav__item-flipper-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main-nav__item-flipper-front {
  z-index: 2;
}

.main-nav__item-flipper-front--img1 {
  background: url('../img/bg-item1.jpg') no-repeat 0 center;
  background-size: cover;
}

.main-nav__item-flipper-front--img2 {
  background: url('../img/bg-item2.jpg') no-repeat 0 center;
  background-size: cover;
}

.main-nav__item-flipper-front--img3 {
  background: url('../img/bg-item3.jpg') no-repeat 0 center;
  background-size: cover;
}

.main-nav__item-flipper-front--img4 {
  background: url('../img/bg-item4.jpg') no-repeat 0 center;
  background-size: cover;
}

.main-nav__item-flipper-front--img5 {
  background: url('../img/bg-item5.jpg') no-repeat 0 center;
  background-size: cover;
}

.main-nav__item-flipper-back {
  padding-top: 200px;
  transform: rotateY(180deg);
  background-color: #5b5b5b;
}

.main-nav__item-menu {
  display: block;
  margin: 0 0 20px 0;
  padding: 0 35px 0 35px;
}

.main-nav__item-menu a {
  font-size: 18px;
  color: #fff;

  &:hover {
    color: #3974ad;
  }
}

.page-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  height: 210px;
  align-items: center;
  background-color: #1a49a6;
  opacity: 0.9;
}

.tel {
  padding-left: 95px;
  font-size: 29px;
  line-height: 18px;
  color: #fff;
}

.logo {
  width: 319px;
  height: 67px;
  text-align: center;
}

.mail {
  padding-right: 95px;
  font-size: 24px;
  line-height: 18px;
  color: #fff;
}

.copyright {
  padding-top: 40px;
  font-size: 13px;
  color: #939393;
}

@media (max-width: 1640px) {
  .main-nav__item-name {
    font-size: 20px;
  }

  .main-nav__item-flipper-back {
    padding-top: 180px;
  }

  .main-nav__item-menu {
    margin: 0 0 10px 0;
    padding: 0 35px 0 35px;
  }

  .main-nav__item-menu a {
    font-size: 12px;
  }

  .page-footer {
    height: 200px;
  }
}

@media (max-width: 1350px) {
  .main-nav__item-name {
    font-size: 16px;
  }

  .main-nav__item-flipper-back {
    padding-top: 180px;
  }

  .main-nav__item-menu {
    margin: 0 0 2px 0;
    padding: 0 35px 0 35px;
  }

  .main-nav__item-menu a {
    font-size: 10px;
  }
}

@media (max-width: 1150px) {
  .main-nav__item-name {
    font-size: 14px;
  }
}

@media (max-width: 960px) {
  .main-nav__item-name {
    font-size: 12px;
  }

  .page-footer {
    height: 100px;
  }
}
