.page-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  height: 210px;
  align-items: center;
  background-color: #1a49a6;
  opacity: 0.9;
}

@media (max-width: 1640px) {
  .page-footer {
    height: 200px;
  }
}

@media (max-width: 960px) {
  .page-footer {
    height: 100px;
  }
}
